.container-login {
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
}
.login-card {
    height: 300px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px #888888;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
}

.form-margins {
    margin-top: 10px;
}

.button-submit {
    width: 100%;
}

.registration-link {
    text-decoration: none;
}